/node_modules/.cache/babel-loader/9a5dc5bab5e56794b0cb7fa48ddcd29405c73eea.json.gz
/node_modules/.cache/babel-loader/20d56784f9923e43403be29cc7efc31c85abd7ad.json.gz
/.idea/http--01-starting-setup.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
